/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
    width: 75%;
    margin: auto;
    padding: 25px 0 25px 0;
}

a, a:visited{
    text-decoration: none;
    background-color: transparent;
    color: black;
}

 a:hover,  a:visited:hover{
    text-decoration: none;
    background-color: transparent;
    color: white;
}


.page_title {
    font-size: 36px;
    font-weight: bold;
    margin: 5px 0 5px 0;
    height: 50px;
    width: 70%;
    float: left;
}
.page_title a, .page_title a:visited{
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.page_title a:hover, .page_title a:visited:hover{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

#login {
  float: right;

}

  .after_header {
      clear: both;
  }

  .notice {
      width: 100%;
      text-align: center;
  }

.content a, .content a:visited {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.content a:hover, .content a:visited:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.section_title {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0 10px 0;

}

.menu {
    float: left;
    width: 15%;
    padding: 0 5px 0 5px;
    min-height:100px;
}

.content {
    width: 60%;
    float: left;
    padding: 0 10px 0 10px;

}

.sidebar {
    float: right;
    width: 20%;
    padding: 0 5px 0 5px;
}




